/************* Niet aanpassen *******************/
.container{
    width:100%;
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.flexbox{
    width:90%;
    height: 600px;
    margin-top: 30px;
}
.box{
    width:200px;
    height:150px;
}
/************************************************/

/* schrijft je css hier onder */
